$main_blue: #E3E9EF;
$main_deep_blue: #628BA1;
$main_deeper_blue: #7895B2;

.Chart{
    box-sizing: border-box;
    padding-left: 450px;
    padding-right: 450px;
    &.long{
        padding-left: 400px;
        padding-right: 400px;
    }
    h3{
        font-family: 'Syncopate', sans-serif;
        margin: 0 auto;
        text-align: right;
    }
    .Chart-title{
        width: 600px;
        background-color: $main_blue;
        border-radius: 40px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 36px;
        height: 100px;
        &.long{
            width: 700px;
        }
        .title-vertical{
            width: 3px;
            background-color: $main_deeper_blue;
            height: 60px;
        }
    }
    .title{
        font-weight: normal;
        margin: 0;
        font-size: 50px;
        color: black;
        font-family: 'Syncopate', sans-serif;
        display: inline-block;
    }
    .title-icon{
        color: $main_deeper_blue;
    }
}

.Chart{
    padding-top: 100px;
    box-sizing: border-box;
}

.ChartList{
    width: 40%;
    margin: 0 auto;
}

.Chart-title-div{
    text-align: center;
    width: 100%;
}


.ChartList-div{
    display: flex;
    flex-direction: row;
    padding: 10px;
    position: relative;
    width: 90%;
    background-color: white;
}   

.ChartList-div img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.ChartList-root{
    display: flex;
    flex-direction: row;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.ChartList-div div{
    display: flex;
    flex-direction: column;
}

.ChartList-name{
    display: inline-block;
    font-size: 20px;
}

.ChartList-rank-div{
    border-right: 2px solid black;
    padding: 5px;
    font-size: 18px;
    line-height: 50px;
    width: 50px;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
    border-left: 2px solid black;
}

.ChartList-root:last-child{
    border: 2px solid black;
}

.ChartList-right{
    position: absolute;
    right: 20px;
    text-align: right;
}

.ChartList-right button{
    border: none;
    background-color: transparent;
}