.Chart-div{
    padding-top: 100px;
    box-sizing: border-box;
}

.ChartList{
    width: 40%;
    margin: 0 auto;
}

.title{
    text-align: center;
}

.ChartList-div{
    display: flex;
    flex-direction: row;
    padding: 10px;
    position: relative;
    width: 90%;
}   

.ChartList-div img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.ChartList-root{
    display: flex;
    flex-direction: row;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.ChartList-div div{
    display: flex;
    flex-direction: column;
}

.ChartList-name{
    display: inline-block;
    font-size: 20px;
}

.ChartList-rank-div{
    border-right: 2px solid black;
    padding: 5px;
    font-size: 18px;
    line-height: 50px;
    width: 50px;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
    border-left: 2px solid black;
}

.ChartList-root:last-child{
    border: 2px solid black;
}

.ChartList-right{
    position: absolute;
    right: 20px;
    text-align: right;
}

.ChartList-right button{
    border: none;
    background-color: transparent;
}