$main_blue: #E3E9EF;
$main_deep_blue: #628BA1;
$main_deeper_blue: #7895B2;

hr{
    margin: 0 auto;
    background-color: #F5EBC9;
    height: 3px;
    width: 80%;
    border: none;
}
.Chart{
    padding-top: 100px;
    // box-sizing: border-box;
    // padding-left: 400px;
    // padding-right: 400px;
    font-family: "Gothic A1", sans-serif;
    // &.long{
    //     padding-left: 400px;
    //     padding-right: 400px;
    // }
    .date{
        width: 600px;
        margin: 0 auto;
        text-align: right;
        h3{
            font-family: 'Syncopate', sans-serif;
            margin: 0;
            margin-right: 68px;
            &.long{
                margin-right: 28px;
            }
        }
    }
    .Chart-title{
        width: 500px;
        margin: 0 auto;
        margin-bottom: 40px;
        background-color: $main_blue;
        border-radius: 30px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 36px;
        height: 60px;
        &.long{
            width: 600px;
        }
        .title-vertical{
            width: 3px;
            background-color: $main_deeper_blue;
            height: 60px;
        }
    }
    .title{
        font-weight: normal;
        margin: 0;
        font-size: 36px;
        color: black;
        font-family: 'Syncopate', sans-serif;
        display: inline-block;
    }
    .title-icon{
        color: $main_deeper_blue;
    }
}


// .Chart-title-div{
//     text-align: center;
//     width: 100%;
// }

.ChartList-top{
    width: 736px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ChartList{
    width: 736px;
    margin: 0 auto;
    hr{
        margin: 0 auto;
        background-color: #F5EBC9;
        height: 3px;
        width: 80%;
        border: none;
    }
}

.ChartList-div{
    img{
        width: 50px;
        height: 50px;
    }
}

// .ChartList{
//     width: 600px;
// }

.ChartList-playlist{
    width: 736px;
    display: flex;
    flex-direction: row;
    height: 90px;
    background-color: #FFFAF1;
    margin-right: 0;
    &:first-child{
        border-radius: 40px 40px 0px 0px;
    }
    &:last-child{
        border-radius: 0px 0px 40px 40px;
    }
    &-right{
        width: 100px;
        text-align: right;
    }
}

.ChartList-rank{
    font-size: 24px;
    text-align: center;
    color: white;
    // font-weight: bold;
    width: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-family: 'Syncopate', sans-serif;
        color: black;
        border-radius: 8px;
        border: none;
        background-color: #D6DEE5;
    }
}
.text{
    // margin: 0 auto;
    display: flex;
    justify-content: left;
    align-items: center;
    line-height: 20px;
    gap: 10px;
    & img{
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .left{
        width: 350px;
        margin: 0%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        .ChartList-name{
            display: inline-block;
            font-size: 20px;
            width: 350px;
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
            font-weight: 500;
        }
        .ChartList-artist{
            display: inline-block;
            width: 350px;
            font-weight: 400;
        }
    }
}
// .ChartList-div div{
//     display: flex;
//     flex-direction: column;
// }

.ChartList .right{
    font-family: "Gothic A1", sans-serif;
    width: 60px;
    height: 60px;
    display: flex;
    border: none;
    // flex: 1 1 60px;
    border-radius: 20px;
    flex-direction: column;
    background-color: #FFFAF1;
    padding: 10px;
    // margin-right: 50px;
    justify-content: center;
    text-align: center;
    &.long{
        justify-content: center;
        align-items: center;
    }
    .ChartList-heart{
        display: flex;
        justify-content: center;
        gap: 5px;
        svg{
            transition: 0.2s 0.2s all;
            // &:hover{
            //     width: 18px;
            //     height: 18px;
            // }
        }
    }
    // &:hover{
    //     width: 70px;
    //     height: 70px;
    // }
}




.nonSearch{
    margin: 0 auto;
    background-color: #FFF9F1;
    border-radius: 40px;
    // width: 736px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .sun{
        width: 300px;
        margin: 40px;
        margin-top: 0;
    }
    span{
        margin-top: -60px;
        font-family: "Gothic A1", sans-serif;
        font-size: 24px;
        color: #9EB7B7;
    }
}