header {
    background-color: black;
    height: 70px;
    z-index: 2;
    position: fixed;
    width: 100%;
    font-size: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Header-list {
    position: absolute;
    left: 150px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 70px;
    align-items: center;
}

.Header-logo{
    cursor: pointer;
    color: white;
    position: absolute;
    left: 30px;
    font-size: 36px;
    line-height: 70px;
}

.Header-list span {
    cursor: pointer;
    color: white;
}
a:visited {
    color: black;
}

a:link {
    text-decoration: none;
}

.Header-signup {
    position: absolute;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 70px;
    color: white;
    margin-right: 40px;
}

.Header-signup span {
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    color: black;
    font-size: 16px;
    font-weight: bold;
}