$main_blue: #E3E9EF;
$main_deep_blue: #628BA1;

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500&family=Syncopate&display=swap');

header {
    font-family: "Gothic A1", sans-serif;
    background-color: $main_blue;
    height: 72px;
    z-index: 2;
    position: fixed;
    width: 100%;
    font-size: 24px;
    @media (max-width: 1250px) {
        font-size: 18px;
    }
        a{
            &:visited{
                color: black;
            }
            &:link{
                text-decoration: none;
            }
        }
    img{
        height: 72px;
        cursor: pointer;
        position: absolute;
        left: 36px;
        top: 3px;
    }
    .English{
        font-family: 'Syncopate', sans-serif;
    }
    .list{
        display: flex;
        flex: 1 1;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 2rem;
        height: 72px;
        align-items: center;
        position: absolute;
        left: 250px;
        span{
            cursor: pointer;
            color: black;
            font-size: 1em;
        }
    }
    .signup{
        position: absolute;
        right: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        height: 72px;
        font-size: 1em;
        color: black;
        margin-right: 40px;
        font-family: 'Syncopate', sans-serif;
        .btn{
            cursor: pointer;
        }
    }
    .smallSize{
        height: 72px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        svg{
            margin-right: 30px;
            cursor: pointer;
        }
    }
    .dropdown{
        display: flex;
        align-items: center;
        background-color: $main_blue;
        // gap: 10px;
        flex-direction: column;
        .dropdown-item{
            width: 100%;
            height: 30px;
            background-color: $main_blue;
            border-bottom: 1px solid $main_deep_blue;
            text-align: center;
            line-height: 30px;
            &:first-child{
                border-top: 1px solid $main_deep_blue;
            }
        }
    }
}