.Song-div{
    padding-top: 100px;
    text-align: center;
}

.Song-input{
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 1px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.SongList-div{
    width: 300px;
    height: 30px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    line-height: 30px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin: 0 auto;
    padding: 5px;
}

.SongList-div:last-child{
    border: 2px solid black;
}

.Song-List{
    display: flex;
    gap: 1px;
    flex-direction: column;
}