$main_blue: #E3E9EF;
$main_deep_blue: #628BA1;
$main_deeper_blue: #7895B2;

a:visited{
    color: black;
}

a:link{
    text-decoration: none;
}
.UserListList{
    width: 736px;
    margin: 0 auto;
}

.UserList{
    padding-top: 121.6px;
    box-sizing: border-box;
    &-list{
        width: 736px;
        display: flex;
        margin: 0 auto;
        // margin: 0 auto;
        flex-direction: column;
        height: 90px;
        background-color: #fffaf1;
        margin-right: 0;
    }
    
    .UserList-text{
        // margin: 0 auto;
        & img{
            width: 50px;
            height: 50px;
            margin-left: 30px;
            margin-right: 30px;
        }
        .UserList-left{
            width: 350px;
            margin: 0%;
            display: flex;
            flex-direction: column;
            justify-content: left;
            .UserList-name{
                display: inline-block;
                font-size: 20px;
                width: 350px;
                overflow:hidden;
                text-overflow:ellipsis;
                white-space:nowrap;
                font-weight: 500;
            }
            .UserList-artist{
                display: inline-block;
                width: 350px;
                font-weight: 400;
            }
        }
    }
    .User-title{
        width: 400px;
        margin: 0 auto;
        margin-bottom: 40px;
        background-color: $main_blue;
        border-radius: 30px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 36px;
        height: 60px;
        &.long{
            width: 600px;
        }
        .title-vertical{
            width: 3px;
            background-color: $main_deeper_blue;
            height: 60px;
        }
    }
    .title{
        font-weight: normal;
        margin: 0;
        font-size: 36px;
        color: black;
        font-family: 'Syncopate', sans-serif;
        display: inline-block;
    }
    .title-icon{
        color: $main_deeper_blue;
    }
}
